extends layout

block content
  #map-canvas(style="width: 700px; height: 500px")
  script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
  script(src='/javascripts/map.js', type='text/javascript')